* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.links {
}

.links ul {
    display: flex;
    gap: 15px;
    margin: 0 auto;
}

.hero {
    display: flex;
    gap: 16px;
    padding: 0px 50px;
}

.right-hero {

}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.left-hero button {
    width:max-content;
}

.placeholder {
    width: 250px;
    height: 300px;
    background-color: gray;
}

.main-content {
    text-align: center;
}

.cards {
    padding: 0 50px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card-img {
    width: 125px;
    height: 150px;
    background-color: gray;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.quote {
    background-color: gray;
    height: 100px;
}

.bottom-signup-container {
    display: flex;
    justify-content: center;
}

.bottom-signup {
    display: flex;
    margin: 50px;
    padding: 15px;
    border: 1px solid black;
    width: max-content;
    gap: 50px;
}

.bottom-signup .left {
    text-align: left;
}

.footer {
    text-align: center;
    padding: 20px 0px;
    background-color: gray;   
}