* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
}

.links ul {
    display: flex;
    gap: 15px;
    margin: 0 auto;
}

.hero {
    display: flex;
    gap: 16px;
}

.right-hero {

}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.left-hero button {
    width:max-content;
}

.placeholder {
    width: 250px;
    height: 300px;
    background-color: gray;
}

.main-content {
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card-img {
    width: 125px;
    height: 150px;
    background-color: gray;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}